@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.cus {
    background-color: rgba(229, 84, 115, 0.10);

}

body {
    margin: 0;
}

.top-header {
    display: flex;
    gap: 97px;
    margin: 0px 240px 0px 240px;
}

.title {
    color: #272727;
    font-family: Lato;
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 32px;
    font-style: normal;
}

.subtitle {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

/* button part */
.btn {
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px 43px;
}

.banner {
    padding: 100px 30px 0px 50px;
    align-items: center;
    justify-content: space-between;

}

/* main */

.hot-deal {
    display: flex;
    height: 620px;
    border-radius: 8px;
    background: #FEF6F8;
    padding: 100px;

}

.title-2 {
    font-family: Lato;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title-2 span {
    color: #E55473;
}

.banner-2 {
    text-align: center;
    padding: 150px;
    margin-top: 60px;

}

.subtitle-2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.main-pic {
    padding: 100px;
}

.cool-deal {
    margin: 150px;
}

.banner-3 {
    text-align: center;
    margin-bottom: 60px;

}

.title-3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.subtitle-3 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.instagram-pic {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.Subscribe-form {

    display: flex;
    justify-content: center;


}

.Subscribe-conten {
    background-image: url("image/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    text-align: center;
    padding-top: 80px;
}

.title-4 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subtitle-4 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.text-box {
    width: 700px;
    height: 64px;
    color:#272727;
    text-align:center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;

}


.title-5 {

    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.title-6 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.subtitle-5 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}


/* mmmmmmmmmmmmmmmmmmmm */
.featuresection {
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }
  
  .featurecaption {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
  }
  
  
  .feature1 {
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: end;
  
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
  }
  
  .featureimg1 {
    width: 310px;
    height: 428px;
    object-fit: contain;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  
  
  .feature2 {
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
  
  
  }
  
  .feature3 {
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
  }

.deliverysection {
    margin-bottom: 100px;
    justify-content: space-between;
  }
  
  .deliverysectioncontent1 {
    display: flex;
    background-color: rgba(39, 39, 39, 0.05);
    text-align: center;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 11%;
    margin-right: 12%;
    padding: 86px 175px 86px 175px;
  
  }

  .container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }

.review{

    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.review-content{
    background-color:#ccc ;
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    text-align: center;
    padding-top: 80px;
}